@model ComisionesSaludOcupacional.Models.ViewModels.VerNoticiaViewModel
@{
    ViewBag.Title = "Ver Noticia";
    Layout = "~/Views/Shared/_LayoutComisionUser.cshtml";
}

<div align="center">
    <h4 class="display-3">@Model.titulo</h4>

    <div class="myBox-adjustable" align="center">
        <div class="row">
            @if (Model.texto != null)
            {
                <div class="col-sm" align="justify">
                    <p>@Html.Raw(Model.texto.Replace("\n", "<br />"))</p>
                </div>
            }
        </div>

        <hr class="my-4">

        @if (ViewBag.Mensaje != null)
        {
            if (Model.archivo.tipo == "application/pdf")
            {
                <iframe src="@Url.Content(Model.archivo.filePath)" height="700" width="500"></iframe>
            }

            if (Model.archivo.tipo == "image/jpeg" || Model.archivo.tipo == "image/png")
            {
                <img src="@Url.Content(Model.archivo.filePath)" alt="Image" style="height:50%;width:50%;" />
            }

            <div class="row">
                <div class="col-sm">
                    <br />
                    <input type="button" onclick="document.location.href='@Url.Content("~/ComisionUserNoticia/Descargar/" + Model.archivo.idArchivo)'" value="Descargar Archivo" class="btn btn-sm btn-primary" />
                </div>
            </div>


        }
        <hr class="my-4">

        <div class="row">
            <div class="col-sm">
                <div style="text-align:left">
                    <input onclick="document.location.href='@Url.Content("~/ComisionUserNoticia")'" type="button" class="btn btn-danger btn-lg" value="Atrás" />
                </div>
            </div>
        </div>
    </div>
</div>

