@model List<ComisionesSaludOcupacional.Models.ViewModels.ComisionTableViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<h2>Comisiones</h2>
<br>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Nombre de Contacto</th>
                <th>Correo del Contacto</th>
                <th>Teléfono del Contacto</th>
                <th>Nombre de la Jefatura</th>
                <th>Correo del la Jefatura</th>
                <th>Teléfono de la Jefatura</th>
                <th>Número de Registro</th>
                <th>Fecha de Registro</th>
                <th> </th>
            </tr>

            @foreach(var oObjeto in Model)
            {
        <tr>
            <td>@oObjeto.nombre</td>
            <td>@oObjeto.contacto</td>
            <td>@oObjeto.contactoCorreo</td>
            <td>@oObjeto.contactoTelefono</td>
            <td>@oObjeto.jefatura</td>
            <td>@oObjeto.jefaturaCorreo</td>
            <td>@oObjeto.jefaturaTelefono</td>
            <td>@oObjeto.numeroRegistro</td>
            <td>@oObjeto.fechaDeRegistro.ToString().Replace("12:00:00", "")</td>
            <td><input onclick="document.location.href='@Url.Content("~/AdminRepresentantes/Representantes/"+oObjeto.idComision)'" type="button" value="Integrantes" class="btn btn-primary" /></td>
        </tr>
            }
        </table>
    </div>
</div>
