<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CSO - MSP</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="col">
                <img src="~/Content/images/MSP.Logo.2019.Original.png" style="width:75px">
                <a class="navbar-brand">Ministerio de Seguridad Pública</a>
        </div>

        <form class="form-inline my-5 my-lg-3">


            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="document.location.href='@Url.Content("~/ComisionUser/InformacionPrincipal/"+Session["ComisionUserID"])'">Comision</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="document.location.href='@Url.Content("~/ComisionUser/Cuenta")'">Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="document.location.href='@Url.Content("~/ComisionUserNoticia")'">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a> @Html.ActionLink("Cerrar Sesión", "Logout", "Cierre", null, new { @class = "nav-link" })</a>
                    </li>
                </ul>
            </div>
        </form>

    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/DatePickerReady.js")
    @RenderSection("scripts", required: false)
</body>
</html>
