@model List<ComisionesSaludOcupacional.Models.ViewModels.RepresentanteTableViewModel>
@{
    ViewBag.Title = "Representantes";
}

<h2>Representantes</h2>

<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Representante/Add/"+ Url.RequestContext.RouteData.Values["id"])'" value="Crear Representante" />
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th> </th>
                <th> </th>
            </tr>

            @if (Model != null) {
                foreach (var oObjeto in Model)
                {
        <tr>
            <td>@oObjeto.nombre</td>
            <td>@oObjeto.correo</td>
            <td>@oObjeto.telefono</td>
            <td><input onclick="location.href='@Url.Content("~/Representante/Delete/"+oObjeto.idRepresentante)'" type="button" value="Borrar" class="btn btn-danger" /></td>
            <td><input onclick="document.location.href='@Url.Content("~/Representante/Edit/"+oObjeto.idRepresentante)'" type="button" value="Editar" class="btn btn-default" /></td>
        </tr>
                }
            }
        </table>
    </div>
</div>