@model ComisionesSaludOcupacional.Models.ViewModels.NoticiaViewModel
@{
    ViewBag.Title = "Crear Noticia";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="display-3">Crear Noticia</h4>

@using (Html.BeginForm("AddNoticia", "AdminNoticia", FormMethod.Post, new { role = "form", @class = "form-group", enctype = "multipart/form-data" }))
{

    <div class="myBox">
        <div class="row">
            <div class="col-sm">
                @Html.AntiForgeryToken()

                @Html.ValidationMessage("error", new { @class = "text-danger" })

                @Html.LabelFor(d => d.titulo)
                @Html.TextBoxFor(d => d.titulo, new { @class = "form-control" })
                @Html.ValidationMessage("titulo", new { @class = "text-danger" }) <hr class="my-4">

                @Html.LabelFor(d => d.texto)
                @Html.TextAreaFor(d => d.texto, new { @class = "form-control", @rows = 20})
                @Html.ValidationMessage("texto", new { @class = "text-danger" }) <hr class="my-4">

                <input type="file" name="archivo"/> <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div style="text-align:left">
                    <input onclick="history.back()" type="button" class="btn btn-danger btn-lg" value="Atrás" />
                </div>
            </div>
            <div class="col-sm">
                <div style="text-align:right">
                    <input type="submit" class="btn btn-success btn-lg" value="Crear" />
                </div>
            </div>
        </div>
    </div>
}
