@Scripts.Render("~/bundles/jqueryval")
@model ComisionesSaludOcupacional.Models.ViewModels.EditComisionViewModel
@{
    ViewBag.Title = "Editar datos de Comisión";
}

<h2>Editar Datos de Comisión</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Edit", "Comision", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.idComision)
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.contacto)
            @Html.TextBoxFor(d => d.contacto, new { @class = "formControl" })
            @Html.ValidationMessage("contacto", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.contactoCorreo)
            @Html.TextBoxFor(d => d.contactoCorreo, new { @class = "formControl" })
            @Html.ValidationMessage("contactoCorreo", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.contactoTelefono)
            @Html.TextBoxFor(d => d.contactoTelefono, new { @class = "formControl" })
            @Html.ValidationMessage("contactoTelefono", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.jefatura)
            @Html.TextBoxFor(d => d.jefatura, new { @class = "formControl" })
            @Html.ValidationMessage("jefatura", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.jefaturaCorreo)
            @Html.TextBoxFor(d => d.jefaturaCorreo, new { @class = "formControl" })
            @Html.ValidationMessage("jefaturaCorreo", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.jefaturaTelefono)
            @Html.TextBoxFor(d => d.jefaturaTelefono, new { @class = "formControl" })
            @Html.ValidationMessage("jefaturaTelefono", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.numeroRegistro)
            @Html.TextBoxFor(d => d.numeroRegistro, new { @class = "formControl" })
            @Html.ValidationMessage("numeroRegistro", new { @class = "text-danger" }) <br />

            @Html.LabelFor(d => d.fechaDeRegistro)
            @Html.EditorFor(d => d.fechaDeRegistro, new { @class = "formControl" })
            @Html.ValidationMessage("fechaDeRegistro", new { @class = "text-danger" }) <br />

            <div style="text-align:right;">
                <input type="submit" class="btn btn-success" value="Guardar Cambios" />
            </div>
        }

    </div>

</div>

