@model List<ComisionesSaludOcupacional.Models.ViewModels.CuentaTableViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<br>


<h1 class="display-3">Cuentas</h1>

<div class="myBox-adjustable">
    @using (Html.BeginForm("Index", "AdminCuenta", FormMethod.Get))
    {
        @Html.Label("Nombre de Comisión")
        @Html.TextBox("nombreComision", null, new { @class = "form-control-filter" })

        <input type="submit" value="Buscar" />
    }
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr class="table-primary">
                <th>Nombre de Comisión</th>
                <th>Nombre de Usuario</th>
                <th> </th>
            </tr>

            @foreach (var oObjeto in Model)
            {
                <tr>
                    <td>@oObjeto.nombreComision</td>
                    <td>@oObjeto.nombre</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="col-md-12" style="text-align:right;">
    <input type="button" onclick="document.location.href='@Url.Content("~/AdminComision/AddComisionUser")'" value="Crear cuenta de Comisión" class="btn btn-lg btn-success" />
</div>
<div class="col-md-12" style="text-align:right;">
    <input type="button" onclick="document.location.href='@Url.Content("~/AdminCuenta/AddAdminUser")'" value="Crear cuenta de Administrador" class="btn btn-lg btn-success" />
</div>

